@import "Nord.css";
* {
    border: none;
    border-radius: 4px;
    min-height: 0;
    margin: 1px;
}

window#waybar {
    background: transparent;
    color: @nord4;
    font-family: "Fira Code Nerd Font";
    font-size: 12px;
    font-weight: bold;
}

#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#language,
#mode,
#memory,
#temperature,

#workspaces {
    font-weight: bold;
    background: @nord2;
    color: @nord4;
}
#workspaces button.visible {
    color: @nord1;
    background: @nord9;
}
#workspaces button.active {
    color: @nord4;
    background: @nord1;
}
#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
}
#mpris, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #tray {
    padding: 0 8px;
}
#mpris { 
    background: @nord2;
    color: @nord4;
}
#bluetooth {
    background: @nord10;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
#network, #network.desktop, #network.laptop {
    background: @nord2;
}

#memory {
    background: @nord10;
}

#cpu {
    background: @nord2;
    color: @nord4;
}
#temperature {
    background-color: @nord2;
    color: @nord4;
}
#clock {
    background: @nord10;
    color: @nord4;
}

#pulseaudio { 
    background: @nord2;
    color: @nord4;
}

#battery {
    background: @nord10;
    padding: 0px 8px 1px 8px;
}

#backlight {
    background: @nord10;
    padding: 0px 8px 1px 8px;
}

#custom-power {
	font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: @nord10;
}
#custom-media {
    background: @nord10;
    color: @nord4;
}
