@import "everforest.css";
* {
    border: none;
    border-radius: 4px;
    min-height: 0;
    margin: 1px;
}

window#waybar {
    /* background: transparent; */
    background: rgba(0,0,0,0.3); 
    padding: 8px;
    color: @color4;
    font-family: "Google Sans Code NF";
    font-size: 12px;
    font-weight: bold;
}

#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#language,
#mode,
#memory,
#temperature,

#workspaces {
    font-weight: bold;
    background: @color2;
    color: @color4;
}
#workspaces button.visible {
    color: @color1;
    background: @color9;
}
#workspaces button.active {
    color: @color4;
    background: @color1;
}
#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
}
#mpris, #pulseaudio, #network, #cpu, #memory, #temperature, #clock, #tray {
    padding: 0 8px;
}
#mpris { 
    background: @color2;
    color: @color4;
}
#bluetooth {
    background: @color10;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
#network, #network.desktop, #network.laptop {
    background: @color2;
}

#memory {
    background: @color10;
}

#cpu {
    background: @color2;
    color: @color4;
}
#temperature {
    background-color: @color2;
    color: @color4;
}
#clock {
    background: @color10;
    color: @color4;
}

#pulseaudio { 
    background: @color2;
    color: @color4;
}

#battery {
    background: @color10;
    color: @color4;
    padding: 0 8px;

}

#battery.good {
    background: @color9;
    color: @color1;
    padding: 0 8px;
}

#battery.charging, #battery.plugged {
    background: @color10;
    color: @color4;
    padding: 0 8px;
}

#battery.warning {
    background: @color12;
    color: @color1;
    padding: 0 8px;
}

#battery.critical {
    background: @color11;
    color: @color1;
    padding: 0 8px;
}

#backlight {
    background: @color2;
    color: @color4;
    padding: 0px 8px;
}

#custom-power {
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: @color10;
    background: @color1;
}
#custom-media {
    background: @color10;
    color: @color4;
}
